
    </div>
</div>
<div class="ui vertical footer segment" >
    <div class="ui center aligned container">
        <div class="ui section divider"></div>
        <div><img src="./images/logo.jpg" class="ui centered mini image">
            @DadaMime Software 2017</div>

        <div class="ui horizontal small divided link list">
            <a href="/about" class="item">About</a>
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>
    <script src="/javascripts/main.js"></script>
    </body>
</html>