<!DOCTYPE html>
<html>
<head>
    <title>Breeding</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body class="Site">

<div class="ui large top fixed menu">
    <div class = "ui container">
        <a href="/" class="item"><img src="./images/logo.jpg"></a>
        <a href="/pets" class="green item">Discover</a>
        <a href="/search" class="item"> Search</a>

        <div class="right menu">
            <%if(!user){ %>
            <a href="/login" class="item" id="login">Log In</a>
            <a href="/register" class="item" id="signup">Sign Up</a>
            <%}else{%>
            <a href="#" class="item"><i class="user icon"></i><strong><em><%=user.username%></em></strong></a>
            <a href="/logout" class="item">Log Out</a>
            <%}%>
        </div>

    </div>
</div>
<div class="ui container">
    <div class="ui two column centered grid">
        <div class="column">
            <%if(success && success.length > 0){%>
            <div class="ui success message">
                <div class="header">
                    <%=success%>
                </div>
                <%}%>
                <%if(error && error.length > 0){%>
                <div class="ui negative message">
                    <div class="header">
                        <%=error%>
                    </div>
                </div>
                <%}%>
            </div>
        </div>
    </div>
</div>
<div id="container">
    <div id="body">