<% include partials/header%>

<link rel="stylesheet" type="text/css" href="./stylesheets/mainPage.css">

<div class = "container"  id = "part1">
  <div id = "searchbar">
    <div class="ui large center aligned basic segment">
      <p id="companyname">DadaMime</p>
      <div class="ui left icon action input">
        <i class="search icon"></i>
        <input type="text" placeholder="Lovely Pets...">
        <div class="ui teal submit button">Search</div>
      </div>
      <div class="ui horizontal divider"></div>
        <a class="ui blue labeled icon button" href="/search"><i class="add icon"></i>Advanced Search</a>
    </div>
  </div>
</div>
<div id="body">

  <h4 class="ui large horizontal divider header">
    <i class="tag icon"></i>
    Popular Pets
  </h4>
  <div class="segment">
    <div class="ui vertical huge segment">
      Filter By:
      <div class="ui floating dropdown">
        Type <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
      <div class="ui floating dropdown">
        Sex <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
      <div class="ui floating dropdown">
        Age <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
      <div class="ui floating dropdown">
        Province <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Choice 1</div>
          <div class="item">Choice 2</div>
          <div class="item">Choice 3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="ui grid">
      <div class="eight wide column">
        <div class="ui divided items">
          <div class="item">
            <div class="image">
              <img src="./images/husky.jpg">
            </div>
            <div class="content">
              <a class="header">Husky1</a>
              <div class="meta">
                <span class="cinema">Saskatoon, SK</span>
              </div>
              <div class="description">
                <p>blabla</p>
              </div>
              <div class="extra">
                <div class="ui label">2 Years Old</div>
                <div class="ui label"><i class="fa fa-mars"></i> Male</div>

              </div>
              <div class="ui left floated primary button">
                Interested!
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="./images/labrador.jpg">
            </div>
            <div class="content">
              <a class="header">Labrador1</a>
              <div class="meta">
                <span class="cinema">Prince Albert, SK</span>
              </div>
              <div class="description">
                <p>balbla</p>
              </div>
              <div class="extra">
                <div class="ui label">3 Years Old</div>
                <div class="ui label"><i class="fa fa-mars"></i> Male</div>
              </div>
              <div class="ui left floated primary button">
                Interested!
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui divided items">
          <div class="item">
            <div class="image">
              <img src="./images/husky.jpg">
            </div>
            <div class="content">
              <a class="header">Husky2</a>
              <div class="meta">
                <span class="cinema">Calgary, AB</span>
              </div>
              <div class="description">
                <p>blabla</p>
              </div>
              <div class="extra">
                <div class="ui label">1 Year Old</div>
                <div class="ui label"><i class="fa fa-venus" aria-hidden="true"></i> Female</div>
              </div>
              <div class="ui left floated primary button">
                Interested!
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="image">
              <img src="./images/labrador.jpg">
            </div>
            <div class="content">
              <a class="header">Labrador2</a>
              <div class="meta">
                <span class="cinema">Edmonton, AB</span>
              </div>
              <div class="description">
                <p>blabla</p>
              </div>
              <div class="extra">
                <div class="ui label">6 Month Old</div>
                <div class="ui label"><i class="fa fa-venus" aria-hidden="true"></i> Female</div>

              </div>
              <div class="ui left floated primary button">
                Interested!
                <i class="right chevron icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h4>
        <div class="ui center aligned container">
          <div class="ui blue icon button">
            Load More
          </div>
        </div>
      </h4>


    </div>
  </div>
  <h4 class="ui large horizontal divider header">
    <i class="tag icon"></i>
    Under Construction
  </h4>
  <div class="container">


  </div>
</div>
<% include partials/footer%>
