body{
   padding:60px;
   margin:0;
   display: flex;
   flex-direction: column;
}
body > * {
  flex-shrink: 0;
}
#part1{
    min-height: 700px;
    height: auto !important;
    height: 600px;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.ui floating dropdown{
	padding-left: 10px;
}

#container {
   min-height:80%;
   position:relative;
}

